
:root{
    --bg-color: #F5EFEB;       /*back the body*/
    --primary-color: #2F4156;
    --text-color: #2F4156;       /*h1 , h3 , li, (skills)*/
    --accent-color: #567c8d;     /*icons , name العلماء اللي اتكلموا عن الان*/
    --text-secondary: #121a24;    /*years , الكلام اللي في كارت الاخير*/
    --text-muted: #FFFFFF;       /* words about alan*/
    --border-color: #121a24;    /* الاراء اللي في الكارت الاخير*/

    --shadow: 0 10px 30px rgba(0,0,0,0.2);
    --radius: 30px;              /*cards of aboutme , cards of skills, card الكبير بتاع الاراء*/
    --transition: 0.4s ease;     
}



body{
    /* background-color: #567c8D; */
    background-color: var(--bg-color);
}

.title{
    text-align: center;
    opacity: 0;
    transform: translateY(-40px);
    animation: down 0.8s ease forwards;
}

.pragOfAbout{
    text-align: center;
    margin-right: 100px;
    opacity: 0;
    transform: translateY(-40px);
    animation: down 0.8s ease forwards;
    animation-delay: 0.4s; 
}

@keyframes down{
    from{
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.pragOfAbout ul{
    list-style-position: inside;
    padding-left: 0;
}

h1{
    color: var(--text-color);
    /* margin-left: 90px; */
    margin-top: 100px;
    
}

.li01{
    font-size: 30px;
}

.tria{
    width: 80px;
    height: 5px;
    background: linear-gradient(to right,#121a24,#3b5473,#78a6bc);
    margin-left: 700px;
    border-radius: var(--radius);
    margin-top: -3px;
}



 section{
    margin-left: 120px;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 30px;
 }


h3,li{
    color: var(--text-color);
}


li{
    font-style:oblique;
}


h3{
    font-size: 28px;
}



i{
    color: var(--accent-color);      /*accent*/
    margin-right: 10px;
}



.card2{
    min-height: 400px;
}


.card,.card2,.card01{
    width: 500px;
    height: 200px;
    background-color: rgba(92, 125, 163, 0.2);
    /* box-shadow: 0 12px 25px rgba(0, 0, 0, 0.05); */
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    padding: 25px;
    margin: 30px auto;
    transition: var(--transition);    /*all*/
    animation: dropDown 0.9s ease forwards; 
    animation-delay: 1s;
    opacity: 0;
}


.card:hover,.card2:hover,.card01:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(47, 65, 86, 0.3);
}

.card01{
    margin-top: 150px;
}


.year{
    color: var(--text-secondary);       /*text secondary*/ 
    font-weight: bold;
    margin-right: 8px;
    font-size: larger;
}





.skill-cards{
    display: flex;
}
.cards {
    /* background-color: #ebd3c4; */
    background: linear-gradient(to right,#e3c4b0,#e5d5ca,#F5EFEB);
    width: 200px;
    height: 120px;
    padding: 25px;
    margin: 30px auto;
    margin-right: 60px;
    border-radius: var(--radius);
    transition: var(--transition);
    box-shadow: var(--shadow);
    text-align: center;
    opacity: 0;
    animation: dropDown 0.8s ease forwards;
    animation-delay: 1.5s;
}


.cards:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(47, 65, 86, 0.3);
}




.skills{
    color: var(--text-color);
    margin-right: 200px;
    /* margin-top: 100px; */
    text-align: center;
    margin-top: 100px;
    margin-left: 100px;
    opacity: 0;
    transform: translateY(-40px);
    animation: down 0.8s ease forwards;
}


.tria2{
    width: 70px;
    height: 5px;
    background: linear-gradient(to right,#121a24,#3b5473,#78a6bc);
    margin-left: 600px;
    border-radius: 10px;
    margin-bottom: 40px;
    /* margin-top: -3px; */
}


.cards i{
    font-size: 30px;
    margin-bottom: 15px;
}



.line {
    height: 5px;
    width: 80%;
    background-color: rgba(194, 190, 190, 0.411);
    border-radius: 15px;
    margin-top: 200px;
    margin-left: 100px;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.9);
}


@keyframes dropDown{
    from{
        opacity:0;
        transform: translateY(-50px);
    }
    to{
        opacity:1;
        transform: translateY(0);
    }
}

.opinion{
    width: 90%;
    height: 600px;
    background: linear-gradient(to right,#3b5574,#3b5473,#78a6bc);
    /* background-color: rgba(92, 125, 163, 0.2); */
    margin-top: 200px;
    margin-left: 40px;
    display: flex;
    gap: 200px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    transition: var(--transition);    /*all*/
    animation: dropDown 0.8s ease forwards; 
    opacity: 0;
    animation-delay: 1.5s;
}


@keyframes dropDown{
    from{
        opacity:0;
        transform: translateY(-50px);
    }
    to{
        opacity:1;
        transform: translateY(0);
    }
}


.left{
    font-size: 50px;
    letter-spacing: 4px;
    margin-left: 100px;
    margin-top: 140px;
    line-height: 60px;
    color: var(--text-muted);
}


.right{
    margin-top: 40px;
}

.right01,.right02,.right03{
    /* background-color: #e3c4b0a5; */
    background-color: #e3c4b0be;
    width: 700px;
    height:150px;
    border-radius: 15px;
    text-align: center;
    color: var(--text-secondary);
    border: 2px solid var(--border-color);
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}
.right03{
    min-height:90px;
}

.p02{
    color: var(--accent-color);
}

.p03{
    color: var(--accent-color);
    margin-top: -10px;
}

.quote{
    font-size: 30px;
}


.continer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
}

