body {
    background-color: #F5EFEB;
} 


h1{

    padding: 0px,0px 200px 0px;
    margin: auto;
    text-align: center;
    color: #333;

} 

.contact-form {
    background-color: #1a2e3d;
    color: white;
    padding: 30px;
    width: 400px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
} 


.input-group {
    margin-bottom: 15px;
}



.button {
    width: 100%;
    padding: 10px;
    background-color: #4a6d7c;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px; 
}   