body{
    background-color:#f5efeb ;
}
main{
    margin: 50px;
}
.heading{
    display: flex;
    justify-content: space-between;
    margin: 60px 100px 40px;
}
.heading img{
    width: 400px;
    height: auto;
}

.heading h1{
    font-size: 80px;
    line-height: 1;
    color: #2f4156;
    margin-bottom: 20px;
}

.heading h1 span{
    display: block;
}
.line{
    display: block;
    width: 60px;
    height: 4px;
    background-color: #567cbd;
    border-radius: 5px;
    margin: 20px 0px;
}
.heading pre{
    font-family:'Times New Roman', Times, serif;
    font-size: 19px;
}
.featured{
    margin: 20px 40px;
}
.featured h2{
    font-size: 40px;
    text-align: center;
    color: #2f4156;
    margin-bottom:45px;
}
.projects{
    display: block;
}
.first-three{
    display: flex;
    justify-content:space-around;
}
.second-two{
    display: flex;
    justify-content:space-around;
}
.second-two .project{ 
    background-color: #c8d9e6;
    border-radius: 15px;
    margin: 10px 25px;
    width: 60%;
    align-items: center;
    border: #567cbd 2px;
}
.project img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 290px;
    
}
.project{
    background-color: #c8d9e6;
    border-radius: 15px;
    border: #567cbd 2px;
    margin: 15px;
    width: 30%;
    align-items: center;
    transition: all 0.35s ease;
    cursor:pointer;
}
.project:hover{
    transform: translateY(-12px) scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.text{
margin: 20px 25px 40px;

}
.project h3{
    font-size: 30px;
}
.project .date{
    font-size: 25px;
    color: #567cbd;
}
.project p{
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.more{
    text-decoration: none;
    display: inline-block;
    padding: 8px 25px;
    border: 2px solid #567cbd;
    border-radius: 5px;
    color: #567cbd;
    font-size: 24px;
    transition: all .35s ease;
}
.more:hover{
    background: #567cbd;
    color: white;
    transform: translateX(8px);
}
.timeline{
    margin:80px 70px;
}
.timeline h2{
    font-size: 40px;
    text-align: center;
    color: #2f4156;
    margin-bottom:45px;
}
.all{
    display:flex ;
    justify-content:space-between;
    position:relative;
}
.all::before{
    content:"";
    position:absolute;
    top:35px;
    left:6%;
    right:6%;
    height:2px;
    background:#2f4156;
    
}
.section{
    position:relative;
    z-index:2;
}
.icon{
    width:70px;
    height:70px;
    margin:auto;
    border-radius:50%;
    background:#567cbd;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-size:25px;
    transition: all 0.35s ease;
    cursor: pointer;

}
.icon:hover{
    transform: translateY(-12px) scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}
.section p{
    text-align: center;
    line-height: 0.8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.quote{
    margin: 60px 0px;
    display: flex;
    justify-content: space-between;
    background-color: #2f4156;
    border-radius:20px ;
}
blockquote{
width: 50%;
color: white;
font-size: 30px;
text-align: center;
}
.quotation{
    color: #567cbd;
    font-size: 80px;
}
blockquote .name{
    color: #567cbd;
    display: block;
    text-align: center;
}

.quote img{
    width: 250px;
    border-bottom-right-radius: 20px; 
}